/* CalendarStyles.css */

/* Custom style for the dot indicating events on specific dates */
.react-calendar__tile--hasActive {
    background-color: #f00;
    border-radius: 50%;
}

/* Custom style for the selected date */
.react-calendar__tile--active {
    background-color: #007bff;
    color: #fff;
}

/* Custom style for the navigation buttons */
.react-calendar__navigation__label {
    font-size: 1.2rem;
    color: #f2f5f2;
    border: none;
}

/* Custom style for the month and year label */
.react-calendar__navigation__label--select {
    font-size: 1.5rem;
    color: #f5f2f2;
}

/* Custom style for the day of the week labels */
.react-calendar__month-view__weekdays__weekday abbr {
    font-size: 1rem;
    color: black;
    border-bottom: none;
}

/* Custom style for the day labels */
.react-calendar__month-view__days__day {
    font-size: 1rem;
    color: #333;
}

/* Custom style for the day labels when they are disabled */
.react-calendar__tile--now:disabled,
.react-calendar__tile--now:disabled:enabled:hover,
.react-calendar__tile--active:disabled,
.react-calendar__tile--active:disabled:enabled:hover {
    color: #ccc;
}

/* Custom style for the navigation buttons container */
.react-calendar__navigation {
    background-color: #5d6288;
    padding: 10px;
    border-radius: 10px;
}

/* Additional styles for the component */
.show-event-student {
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    /* Add a max-width for better readability on large screens */
    margin: auto;
    margin-top: 8px;
    margin-bottom: 10px;
    /* Center the container */
}

.calendar-container {
    flex: 1;
    max-width: 300px;
}

.event-details {
    flex: 2;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* Ensure full width */
    max-width: none;
    /* Override any max-width settings */
}

.event-indicator {
    color: red;
    font-weight: bold;
    text-align: center;
}

.event-card {
    margin-bottom: 20px;
    padding: 15px;
    border-left: 5px solid #007bff;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.event-card h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.event-card p {
    margin: 0;
    color: #555;
}

.time-remaining {
    font-size: 14px;
    color: #ff0000;
    font-weight: bold;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 10px;
    }

    .calendar-container,
    .event-details {
        max-width: 100%;
    }
}