.titleStyle {
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    /* font-family: "Josefin Sans", sans-serif; */
    background: linear-gradient(to right, #86058f 10%, #25abe8 50%, #57d75b 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    /* text-fill-color: transparent; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;

}