@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.inter {
    font-family: "Inter", sans-serif;

}

/* message.css */
.read-message-container {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message-content {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.message-header {
    display: flex;
    align-items: center;
}

.message-header-image-container {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.message-header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.message-header-title {
    margin-left: 20px;
}

.message-header-title-text {
    color: #764ba2;
    font-size: 24px;
}

.message-body {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-heading {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.message-paragraph {
    font-size: 18px;
    color: #555;
    text-align: justify;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .message-content {
        max-width: 100%;
    }

    .message-header {
        flex-direction: column;
        align-items: center;
    }

    .message-header-title {
        margin-top: 20px;
        margin-left: 0;
        text-align: center;
    }

    .message-body {
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .message-header-image-container {
        width: 80px;
        height: 80px;
    }

    .message-header-title-text {
        font-size: 20px;
    }

    .message-heading {
        font-size: 24px;
    }

    .message-paragraph {
        font-size: 16px;
    }
}